<div class="container"> 
  <div class="wrapper">
    <header>
      <app-card></app-card>
    </header>
    <div class="row">
      <div class="selections">
        <div class="choise">
        <select class="form-control" #c1 id = "currency1"(mouseleave)="changebase(c1.value)"  >
          <option value="USD">USD</option>
          <option value="UAH">UAH</option>
          <option value="EUR">EUR</option>
        </select>
        <input [ngClass]="inputV > -1? 'form-control':'form-control2'"  class="form-controirst"  type="nl" #myInput id="fumber" (input)="inputHandler(myInput.value)" type="number" [value]="inputV">
      </div>
      <div class="choise">
        <select class="form-control" #c2 id = "currency2" (mouseleave)="tocountry(c2.value)">
          <option value="USD">USD</option>
          <option value="UAH">UAH</option>
          <option value="EUR">EUR</option>
        </select>
        <input class="form-control" #myInput2 type="number" [value]="result" >
      </div>
      </div>
       
      </div>
         
    
    </div>
  </div>
 
 
